<!--! Template deiven forms -->
<img
  *ngIf="formSubmitted"
  src="../../../assets/paper-clipboard-with-green-tick.png"
  alt="Form Submitted"
  class="rounded fadeIn"
  style="position: absolute; left: 42%; top: 23%; width: 15%"
/>
<h4
  *ngIf="formSubmitted"
  class="line-1 anim-typewriter"
  style="position: absolute; left: 27%; top: 65%; width: 15%"
>
  Your product was added successfully :D
</h4>

<form
  #newProductForm="ngForm"
  (ngSubmit)="handleFormSubmit(newProductForm)"
  class="d-grid gap-3 mt-5 mb-5 justify-content-center"
  [ngClass]="{ bounceOutUp: formSubmitted }"
>
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="floatingName"
      placeholder="Clould stinger wireless"
      name="ProductName"
      #ProductName="ngModel"
      ngModel
      required
      minlength="3"
      [ngStyle]="{
        'border-color': ProductName.touched && ProductName.invalid ? 'red' : ''
      }"
    />
    <label for="floatingName" class="text-muted">Product name</label>
    <div
      id="ProductNameHelp"
      class="form-text text-danger"
      *ngIf="ProductName.touched && ProductName.invalid"
    >
      <span *ngIf="ProductName.errors?.['required']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i> This
        field is required
      </span>
      <span *ngIf="ProductName.errors?.['minlength']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i>
        Minimum length is 3 characters
      </span>
    </div>
  </div>

  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="floatingBrand"
      placeholder="Brand"
      name="brand"
      ngModel
      #brand="ngModel"
      required
      minlength="3"
      maxlength="50"
      [ngStyle]="{
        'border-color': brand.touched && brand.invalid ? 'red' : ''
      }"
    />
    <label for="floatingBrand" class="text-muted">Brand</label>
    <div
      id="brandHelp"
      class="form-text text-danger"
      *ngIf="brand.touched && brand.invalid"
    >
      <span *ngIf="brand.errors?.['required']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i> This
        field is required
      </span>
      <span *ngIf="brand.errors?.['minlength']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i>
        Minimum length is 3 characters
      </span>
      <span *ngIf="brand.errors?.['maxlength']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i>
        Maximum length is 50 characters
      </span>
    </div>
  </div>

  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="floatingCategory"
      placeholder="Category"
      name="category"
      ngModel
      #category="ngModel"
      minlength="3"
      required
      [ngStyle]="{
        'border-color': category.touched && category.invalid ? 'red' : ''
      }"
    />
    <label for="floatingCategory" class="text-muted">Category</label>
    <div
      id="categoryHelp"
      class="form-text text-danger"
      *ngIf="category.touched && category.invalid"
    >
      <span *ngIf="category.errors?.['required']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i> This
        field is required
      </span>
      <span *ngIf="category.errors?.['minlength']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i>
        Minimum length is 3 characters
      </span>
    </div>
  </div>

  <div class="form-floating">
    <input
      type="number"
      class="form-control"
      id="floatingPrice"
      placeholder="Price"
      name="price"
      ngModel
      #price="ngModel"
      min="1"
      required
      [ngStyle]="{
        'border-color': price.touched && price.invalid ? 'red' : ''
      }"
    />
    <label for="floatingPrice" class="text-muted">Price</label>
    <div
      id="priceHelp"
      class="form-text text-danger"
      *ngIf="price.touched && price.invalid"
    >
      <span *ngIf="price.errors?.['required']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i> This
        field is required
      </span>
      <span *ngIf="price.errors?.['min']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i> Only
        positive numbers allowed
      </span>
    </div>
  </div>
  <div class="form-floating">
    <input
      type="number"
      class="form-control"
      id="floatingDiscount"
      placeholder="Discount Percentage"
      name="discountPercentage"
      ngModel
      #discountPercentage="ngModel"
      min="0"
      max="100"
      required=""
      [ngStyle]="{
        'border-color':
          discountPercentage.touched && discountPercentage.invalid ? 'red' : ''
      }"
    />
    <label for="floatingDiscount" class="text-muted">Discount Percentage</label>
    <div
      id="discountPercentageHelp"
      class="form-text text-danger"
      *ngIf="discountPercentage.touched && discountPercentage.invalid"
    >
      <span *ngIf="discountPercentage.errors?.['required']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i> This
        field is required
      </span>
      <span *ngIf="discountPercentage.errors?.['min']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i>
        Minimum discount is 0%
      </span>
      <span *ngIf="discountPercentage.errors?.['max']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i>
        Maximum discount is 100%
      </span>
    </div>
  </div>

  <div class="form-floating">
    <input
      type="number"
      class="form-control"
      id="floatingStock"
      placeholder="Stock"
      name="stock"
      ngModel
      #stock="ngModel"
      min="1"
      required
      [ngStyle]="{
        'border-color': stock.touched && stock.invalid ? 'red' : ''
      }"
    />
    <label for="floatingStock" class="text-muted">Stock</label>
    <div
      id="stockHelp"
      class="form-text text-danger"
      *ngIf="stock.touched && stock.invalid"
    >
      <span *ngIf="stock.errors?.['required']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i> This
        field is required
      </span>
      <span *ngIf="stock.errors?.['min']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i> Only
        positive numbers allowed
      </span>
    </div>
  </div>

  <!-- Your existing form fields... -->

  <div class="form-floating">
    <textarea
      class="form-control"
      id="floatingDescription"
      placeholder="Description"
      required
      name="description"
      ngModel
      #description="ngModel"
      [ngStyle]="{
        'border-color': description.touched && description.invalid ? 'red' : ''
      }"
    ></textarea>
    <label for="floatingDescription" class="text-muted">Description</label>
    <div
      id="descriptionHelp"
      class="form-text text-danger"
      *ngIf="description.touched && description.invalid"
    >
      <span *ngIf="description.errors?.['required']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i> This
        field is required
      </span>
      <!-- Add more validation messages as needed -->
    </div>
  </div>

  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="floatingThumbnail"
      placeholder="Thumbnail URL"
      required=""
      name="thumbnail"
      ngModel
      #thumbnail="ngModel"
      [ngStyle]="{
        'border-color': thumbnail.touched && thumbnail.invalid ? 'red' : ''
      }"
    />
    <label for="floatingThumbnail" class="text-muted">Thumbnail URL</label>
    <div
      id="thumbnailHelp"
      class="form-text text-danger"
      *ngIf="thumbnail.touched && thumbnail.invalid"
    >
      <span *ngIf="thumbnail.errors?.['required']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i> This
        field is required
      </span>
      <!-- Add more validation messages as needed -->
    </div>
  </div>

  <div class="form-floating">
    <textarea
      class="form-control"
      id="floatingImageUrls"
      placeholder="Image URLs (comma-separated)"
      cols="50"
      name="imageUrls"
      ngModel
      #imageUrls="ngModel"
      [ngStyle]="{
        'border-color': imageUrls.touched && imageUrls.invalid ? 'red' : ''
      }"
    ></textarea>

    <label for="floatingImageUrls" class="text-muted"
      >Image URLs (comma-separated)</label
    >
    <div
      id="imageUrlsHelp"
      class="form-text text-danger"
      *ngIf="imageUrls.touched && imageUrls.invalid"
    >
      <span *ngIf="imageUrls.errors?.['required']">
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000"></i> This
        field is required
      </span>
      <!-- Add more validation messages as needed -->
    </div>
  </div>

  <!-- Repeat the above block for Image 2 to Image 5 -->

  <!-- Your existing form fields... -->

  <button
    type="submit"
    class="btn btn-warning"
    [disabled]="newProductForm.invalid"
  >
    Add product
  </button>
</form>

<!--? Toast -->
<!-- Flexbox container for aligning the toasts -->
<!-- <div
  aria-live="polite"
  aria-atomic="true"
  class="d-flex justify-content-center align-items-center w-100"
> -->
<!-- Then put toasts within -->
<!-- <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="..." />
      <strong class="me-auto">GamerZone</strong>
      <small>11 mins ago</small>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">Your product was added successfully.</div>
  </div>
</div> -->
