<form #newProduct="ngForm" class="d-grid gap-3 mt-5 mb-5 justify-content-center">
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="floatingName"
      placeholder="Clould stinger wireless"
      required
    />
    <label for="floatingName" class="text-muted">Product name</label>
  </div>

  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="floatingBrand"
      placeholder="Brand"
      required
    />
    <label for="floatingBrand" class="text-muted">Brand</label>
  </div>

  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="floatingCategory"
      placeholder="Category"
      required
    />
    <label for="floatingCategory" class="text-muted">Category</label>
  </div>

  <div class="form-floating">
    <input
      type="number"
      class="form-control"
      id="floatingPrice"
      placeholder="Price"
      required
    />
    <label for="floatingPrice" class="text-muted">Price</label>
  </div>

  <div class="form-floating">
    <input
      type="number"
      class="form-control"
      id="floatingStock"
      placeholder="Stock"
      required
    />
    <label for="floatingStock" class="text-muted">Stock</label>
  </div>

  <button type="submit" class="btn btn-outline-warning">Add product</button>
</form>
