  body{background:#ecf0f3 !important;font-family:Arial}.vrmedia-gallery{max-width:567px;margin:5rem auto;background:white;padding:20px;box-shadow:rgb(100 100 111 / 20%) 0px 7px 29px 0px;border-radius:8px;backdrop-filter:opacity(0.5)}.vrmedia-gallery img{object-fit:cover;width:100%}.vrmedia-gallery .lSGallery{display:inline-flex}.vrmedia-gallery .lSGallery li{border-radius:12px !important}.vrmedia-gallery .lSGallery li.active{border:1px solid #242423}
.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }

/* Vertical Zoom-n-pan Container */
.img-hover-zoom--zoom-n-pan-v img {
  transition: transform .5s ease-in-out;
  transform: scale(1);
  transform-origin:  center center;
  cursor: pointer;
}

/* The Transformation */
.img-hover-zoom--zoom-n-pan-v:hover img {
  transform: scale(1.4)
}